<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Sorteios</title>
</head>
<body>
	<div th:insert="fragments/navigation :: menu"></div>
	<br />
	<br />
	<br />
	<a th:href="@{form}">
		<button type="submit" class="btn btn-primary">Gerar sorteio</button>					
	</a>
	
	<br />
	<h1>Listagem de sorteios</h1>
	<table class="table">
		<thead>
		<tr>
			<th scope="col">Números</th>
			<th scope="col">Data do Sorteio</th>
			<th scope="col">Prêmio</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="s : ${sorteios}">
			<td th:text="${s.numbers}"></td>
			<td th:text="${s.sorteioDate}"></td>
			<td th:text="${s.prize}"></td>
		</tr>
		</tbody>
	</table>
	
</body>
</html>